@model IEnumerable<eBook.Models.Comment>

@{
    Layout = null;
}



@foreach (var item in Model)
{
    <div class="card card-inner">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Content/Images/def_face.jpg" class="img img-rounded img-fluid avatar" />
                    <a><strong>@Html.DisplayFor(modelItem => item.Author)</strong></a>
                </div>
                <div class="col-md-10">
                    <p>
                        <span class="comment-title">@Html.DisplayFor(modelItem => item.Title)</span>
                        @for (var i = 0; i < item.Rating; i++)
                        {
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        }
                    </p>
                    <p class="comment-body">@Html.DisplayFor(modelItem => item.Body)</p>
                </div>
            </div>
        </div>
    </div>
    <br />
}

