@font-face {
    font-family: siteFont;
    src: url(../Fonts/Marvel-Regular.ttf);
}

.title {
    text-shadow: 1px 2px #DDDDDD;
    font-family: siteFont;
    font-size:35pt;
    color:white;
    margin: 0;
}

.ebook-navbar,
.card-book {
    margin-bottom: 10px;
}

.book-pic {
    border-radius: 5px;
    width:100px;
}

.card-book .btn,
.card-book .card-title {
    font-size: 10pt;
}
.card-book .btn {
    transition: padding 1s;
}
    .card-book .btn:hover {
        padding-right: 1.1rem;
        padding-left: 1.1rem;
    }

.card-book-img {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.card-book-img img {
    width:100%;
}

.card-book .card-footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(206, 206, 206, 0.8);
    width:100%;
}

#favorites h5 {
    text-align: center;
}


.avatar {
    height:100px;
}

.comment-title {
    font-style: italic;
    text-decoration: underline;
}

.comment-body {
    font-size: small;
}

.starrr {
    display: inline-block;
}

.starrr a {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none;
}

.comment-icons {
    float: right;
    margin-top: 40px;
    font-size: x-large;
}

.clickable {
    cursor: pointer;
    color: #007bff;
}

#map {
    height: 525px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

svg.genre-chart,
svg.comments-chart{
    height: 400px;
    width: 550px;
}

svg.genre-chart rect{
    fill: cornflowerblue;
}

.about {
    padding: 15px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    -webkit-column-rule: 1px solid lightgrey;
    -moz-column-rule: 1px solid lightgrey;
    column-rule: 1px solid lightgrey;
}