.title {
    text-shadow: 3px 3px #DDDDDD;
}

.ebook-navbar {
    margin-bottom: 10px;
}

.book-pic {
    border-radius: 3px;
    width:100px;
}

.card-book .btn,
.card-book .card-title {
    font-size: 10pt;
}

.card-book-img {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.card-book-img img {
    width:100%;
}

.card-book .card-footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(206, 206, 206, 0.8);
    width:100%;
}

#favorites h5 {
    text-align: center;
}