@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>What is this Site?</h3>

<div class="row">
    <article class="about col-sm-7">
        We were founded in 2019 by three friends from the College who started with books online to earn some knowledge, and ended up forming a pioneering social enterprise — a business with a mission to promote literacy.
        We’re not a traditional company with an add-on “cause” component. Social and environmental responsibility is at the core of our business. You could say it's in our DNA.
        We’re breaking new ground in online books review.
        We believe that education and access to books are basic human rights. 
        The US Review of Books connects authors with professional book reviewers and places their book reviews in front of 18,513 subscribers to our free monthly newsletter of fiction book reviews and nonfiction book reviews. Learn why our publication is different than most others, or read author and publisher testimonials about the USR.
    </article>


    <aside class="col-sm-5">
        <p>

            <canvas id="myCanvas" width="520" height="240 " style="border: 1em solid cadetblue;left: 1px;top: -15px;position: absolute;">
                Your browser does not support the HTML5 canvas tag.
            </canvas>
            <video width="520" height="240" controls>
                <source src="~/Content/Videos/ebook.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </p>
    </aside>
</div>